body {
	background-color: #DCDCDC;
	color: #000000;
}

footer {
	position: relative;
	margin-top: 60px;
	height: 40px;
	padding:5px 0px;
	clear: both;
	background-color: #5F9EA0;
	text-align: center;
	color: #fff;
}

#cabecera {
	background-color: #5F9EA0;
	padding-left: 100px;
}

#imagen {
	width: 150px;
	height: 200px;
	float: left;
}

#titulo {
	padding-left: 220px;
	padding-top: 80px;
	font-family: Arial, sans-serif;
}

#buscar {
	margin-top: 50px;
	text-align: center;
}

#buscar input {
	width: 180px;
	height: 30px;
	padding: 5px 5px 5px 15px;
	margin: 0 20px 20px 0;
	border-radius: 5px;
	font-size: 14px;
	font-family: sans-serif;
	background: #F4F4F6;
	float: center;
}

#buscar input[type=button] {
	width: 180px;
	height: 30px;
	border: 1px solid #556f8c;
	background: #6A99A8;
	font-size: 14px;
}

#buscar input[type=button]:hover {
	background: #272F38;
	color: #FFFFFF;
	cursor: pointer;
}

#infoEstudiante input[type=button] {
	width: 180px;
	height: 30px;
	border: 1px solid #556f8c;
	background: #6A99A8;
	font-size: 14px;
}

#infoEstudiante input[type=button]:hover {
	background: #272F38;
	color: #FFFFFF;
	cursor: pointer;
}

#plan {
	height: auto;
	padding: 0px 100px 0px 100px;
	display: none;
}

.cabTabla {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	text-align: center;
	height: 30px;
	background: linear-gradient(to bottom, rgba(232, 238, 235, 1) 0%, rgba(92, 153, 124, 0.95) 50%, rgba(203, 210, 207, 0.89) 100%);
	border-radius: 10px;
}

.colCab {
	height: 30px;
	border: 1px solid green;

	text-align: center;
}

.ini {
	border-radius: 10px 0px 0px 10px;
}

.fin {
	border-radius: 0px 10px 10px 0px;
}

.cont_semestres {
	font-family: Arial, sans-serif;
	height: 30px;
	border-radius: 10px;
}

#numSemestre {
	height: 60px;
}

#infoGeneral {
	text-align: center;
	padding: 30px;
}
#materia {
	display: none;
}
.nombreMat input[type=button]:hover {
	cursor: pointer;
}

#semestre {
	display: none;
}

#infoEstudiante{
	font-size: 25px;
	text-align: center;
	padding: 30px 30px 30px 30%;
	display: none;
}